@tailwind base;
@tailwind components;
@tailwind utilities;


.skill-icon {
    margin-right: 1rem; /* Ruimte tussen de icoontjes */
}

/* styles.css */
.skills-section {
    margin-left: 18rem;
}

.profielfoto {
    margin-left: 18rem;
}

.text-center {
    text-align: center;
}

   .typing-animation {
       overflow: hidden; /* Verberg overlopende tekst */
       white-space: nowrap; /* Voorkom dat de tekst naar een nieuwe regel gaat */
       margin: 0 auto; /* Centreer de tekst */
       animation: typing 3s steps(40, end); /* Pas de animatie toe */
   }
.carousel {
    white-space: nowrap;
    overflow: hidden;
}

.carousel img {
    display: inline-block;
    width: 10%;
    height: 50px;
    margin: 0 10px; /* Adjust margin as needed */
    transition: transform 1s ease-in-out;
}

.carousel img:hover {
    transform: scale(1.2); /* Adjust scale factor for hover effect */
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Adjust the percentage as needed */
}

.carousel {
    animation: slide 10s infinite alternate; /* Adjust duration as needed */
}

.section {
    height: 100vh; /* Maakt de sectie schermvullend */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* Zorgt ervoor dat de sectie op het scherm blijft plakken tijdens scrollen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Voeg schaduw toe */
}





@keyframes typing {
    from {
        width: 0; /* Begin met een breedte van 0 (verborgen) */
    }
    to {
        width: auto; /* Eindig met de volledige breedte van de tekst (getypt) */
    }
}





