@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Sans', sans-serif;
}

.skill-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.skill-icon:hover {
    transform: scale(1.25);
}

.carousel {
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

@keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

.profielfoto {
    margin-left: 18rem;
}

.text-center {
    text-align: center;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 7.5s steps(40, end);
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.fixed-height {
    height: 315px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.carousel2, .carousel3, .carousel4 {
    position: relative;
    width: 100%;
    height: 315px;
}

@media (max-width: 640px) {
    #about .flex {
        flex-direction: column;
    }
    #about .w-1\/2 {
        width: 100%;
    }
    #about .w-1\/2:first-child {
        margin-bottom: 2rem;
    }

    #projects .flex {
        flex-direction: column;
    }
    #projects .w-full {
        width: 100%;
    }

    .carousel {
        overflow: visible;
        white-space: nowrap;
        margin: 0 auto;
        width: 100%;
    }

    .carousel img {
        width: auto;
        height: 50px;
        margin: 0 10px;
        transition: none;
    }

    #skills .flex {
        flex-direction: column;
    }
    #skills .w-1\/2 {
        width: 100%;
    }
    #skills .w-1\/2:first-child {
        margin-bottom: 2rem;
    }

    #skills .w-1\/2:last-child {
        margin-right: 0;
        vertical-align: middle;
    }

    section img {
        max-width: 100%;
        height: auto;
    }

    .skills-section {
        margin-left: 0;
        padding: 0 1rem;
        text-align: center;
    }

    .profielfoto {
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
    }

    .skill-icons-container {
        margin-top: 1rem;
    }

    @media (max-width: 640px) {
        #projects .grid-cols-1 {
            grid-template-columns: 1fr;
        }
    }

    #home h1.text-9xl {
        font-size: 5rem;
    }
    #home h2.text-5xl {
        font-size: 2rem;
    }
    #home p.text-xl {
        font-size: 1.5rem;
    }

}
